{% extends './shaird/index.html' %}
{% load static %}
{% block title %}
   ایجاد محصول
{% endblock %}

{% block content %}

<div class="content-wrapper" style="min-height: 1345.31px;">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>{% block header %}{% endblock %}</h1>
        </div>
       
      </div>
    </div><!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <!-- left column -->
        <div class="col-md-12">
          <!-- general form elements -->
          <div class="card {% block cartColor %}card-primary{% endblock %}">
            <div class="card-header">
              <h3 class="card-title">{% block title_card%}{% endblock %}</h3>
            </div>
            <!-- /.card-header -->
            <!-- form start -->
            {% block main %}
            {% endblock %}
          </div>
          <!-- /.card -->

        </div>
       
      </div>
      <!-- /.row -->
    </div><!-- /.container-fluid -->
  </section>
  <!-- /.content -->
</div>
{% endblock content %}

