{% extends '../shared/index.html' %}

{% block title %}
    تغییر گذرواژه
{% endblock %}

{% block content %}
<div class="container">
    <section id="form"><!--form-->
        <div class="row">
            <div class="col-sm-4 col-sm-offset-1">
                <div class="login-form"><!--login form-->
                    <h2>تغییر گذرواژه:</h2>
                    <form method='post' >
                        {% csrf_token %}
                        {{form.password}}
                        {% if form.password.errors %}
                            {% for err in form.password.errors %}
                                <p class="text-danger" >{{err}}</p>
                            {% endfor %}
                        {% endif %}

                        {{form.re_password}}
                        {% if form.re_password.errors %}
                            {% for err in form.re_password.errors %}
                                <p class="text-danger" >{{err}}</p>
                            {% endfor %}
                        {% endif %}
                        <button type="submit" class="btn btn-default">اعمال</button>
                    </form>
                </div><!--/login form-->
            </div>
        
        </div>
    </section>
</div>
{% endblock %}