<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title> {% block title %} صفحه اصلی | فروشگاه کارزیبا  {% endblock %}</title>
	{% include './header.html' %}
</head><!--/head-->

<body>
	{% include './navbar.html' %}
	{% block content %}
	{% endblock %}
	{{user.email|json_script:'user'}}
	{% block scripts %}
	
	{% endblock %}
  
{% include './footer.html' %}
</body>
</html>